<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hola mundo!</h1>
    <p>Gerardo Rojas</p>
    <p>30874540</p>
    <p>seccion: 4</p>
  </body>
</html>

